* {
    padding: 0;
    margin: 0;
}

/*font family*/
h3 {
    font-size: 22px;
    line-height: 24px;
}

h4 {
    margin: 0 0 8px 0;
}

@page {
    margin: 1cm 2cm;
}

html, body,
.profileMainSection .accordion-inner,
.profileMainSection p,
.tab-content {
    font-family: Georgia, serif, Times New Roman;
}

body {
    font-size: 12pt;
    margin: 0;
}

.nav-collapse,
.container .btn-navbar,
.pageHeader,
.p-print,
.no-print,
.footer {
    display: none;
}

a:link, a:visited {
    color: #888
}

.stepNav {
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
}

.row,
.section-wrapper .span3,
.section-wrapper .span9,
[class*="span"] {
    width: 100%;
    float: none;
}

.row {
    margin: 0;
}

.print-only {
    display: block;
}

.section-wrapper .span3 {
    overflow: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container .brand {
    font: 0/0 a;
    text-shadow: none;
}

.printHeader {
    float: left;
    color: #333;
    display: block;
    width: 70%;
    padding: 0 0 0 20px;
}

.thumbnail {
    overflow: hidden;
    float: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    padding-right: 20px;
    background: #fff;
    width: 24%;
}

.thumbnail img {
    width: 200px;
    height: auto;
    margin: 0;
}

.stepContainer {
    padding: 0;
    margin: 0 auto;
}

.print-sum {
    float: left;
    width: 68%;
    clear: both;
    padding-left: 20px;
}

.tab-content > .tab-pane {
    display: block;
    margin-bottom: 20px;
}

.tab-pane p {
    font-family: Times, Arial, sans-serif;;
}

.tab-pane .print-only h4 {
    background: #eee;
    border-bottom: 1px solid #dddddd;
}

.profileMainSection {
    clear: both;
    overflow: hidden;
}

.profileMainSection ul {
    padding-top: 5px;
    font-size: 12pt;
}

.profileMainSection li {
    float: none;
    padding: 4px 0;
}

.profileMainSection strong {
    margin: 0;
    display: inline-block;
}

.profileMainSection p {
    font-size: 12pt;
    margin: 0 0 5px;
    color: #A29989;
}

.accordion-body.collapse {
    height: auto;
}

.accordion-group {
    margin-bottom: 12pt;
    border-bottom: 1px solid #333;
}

.accordion-group .accordion-heading {
    font-weight: 700;
}

.accordion-group .accordion-heading a {
    padding: 0;
    background: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-bottom: none;
    color: #333;
    font-weight: 700;
}

.accordion-heading .accordion-toggle:hover {
    margin: 0;
}

.accordion-heading .portfolioTitle {
    margin-bottom: 2px;
    text-align: left;
    font-size: 13pt;
}

.profileMainSection .accordion-inner {
    background: transparent;
    margin-bottom: 20px;
    padding: 0;
    font-size: 15pt;
    border-bottom: none;
}

.profileMainSection .positionTitle {
    background: #fff;
    padding-left: 0;
    color: #333;
}

.tab-content {
    background: transparent;
}

.print-sum h4 {
    font-size: 12px;
}
